<center>
<p>Select the game!</p>
<form action='/single_player' method='get'>
  <input type='submit' name='single' value='Single Player'>
</form>
<form action='/multiplayer' method='get'>
  <input type='submit' name='single' value='Multiplayer'>
</form>
</center>