<% if @player == "admin" %>
    <a href="/admin">admin_test</a>
<% end %>
<% unless @player == "" || @player == nil || @player == "admin" %>
  <p>Welcome <%= @player %>! Are you ready to play?</p>
  <a href="/newgame">Play!</a>
<% else %>
  <p>Enter your name, please..</p>
  <form action='/' method='post'>
    Your name: <input type= 'text' name= 'name'>
    <input type= 'submit' name= 'Submit' value= 'GO!'>
  </form>
<% end %>
