<p>Choose an option from below: Rock, Paper or Scissors??</p>

<form action="/result" method="post">
    <button type="submit" value="rock" name="game">Rock</button>
    <button type="submit" value="paper" name="game">Paper</button>
    <button type="submit" value="scissors" name="game">Scissors</button>
</form>