<p>Choose an option from below: Rock, Paper or Scissors??</p>

<form action="/result" method="post">
   Player: <input type="text" name="game">
   CPU: <input type="text" name="game2">
    <input type= 'submit' name= 'Submit' value= 'play'>
</form>